body {
    background-color: rgb(70, 70, 80);
    color: white;
}

.card {
    width: 700px;;
}

.title_welcome {
    margin-top: 8%;
    text-align: center;
    font-size: 4em;
    opacity: 0.8;
}

.title_welcome .sub {
    font-size: 0.4em;
    margin-top: 2px;
    opacity: 0.6;
    text-transform: uppercase;
}

.btn_group {
    text-align: center;
    margin: auto;
    margin-top: 13%;
}

.btn_group button{
    text-align: center;
    margin: auto;
    margin-top: 8px;
}

.btn_group span {
    font-size: 22px;
}

.title_left {
    margin-left: 60px;
    margin-top: 40px;
    font-size: 45px;
    text-transform: uppercase;
}

.chapters {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.chapters .chapter {
    margin-top: 20px;
}

.chapter button {
    width: 80px;
}

.chapter .date {
    padding-left: 8px;
    padding-top: 8px;
    opacity: 0.5;
    float: right;
}

.paginations {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.chapterContent {
    margin: auto;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
}

.chapterContent .comments {
    margin-top: 20px;
}

.chapterContent .comments .title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.chapterContent .comments .comment {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.chapterContent .comments .comment .user {
    font-size: 22px;
}

.chapterContent .comments .comment .content {
    margin-top: 0px;
    font-size: 17px;
}

.chapterContent .comments .comment .date {
    float: right;
    opacity: 0.4;
}

.chapterContent .comments .comment .dateContainer {
    height: 10px;
}

.chapterContent .contentBody {
    margin-top: 15px;
    word-wrap: break-word;
    margin: 30px;
    font-size: 20px;
}

.chapterContent .date {
    float: right;
    opacity: 0.7;
}

.login {
    padding: 20px;
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.3);
}

div.container.admin {
    margin-top: 60px;
}

div.container.admin .basicForm{
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

div.container.admin .basicForm button {
    margin-top: 6px;
    margin-bottom: 6px;
}

div.container.admin .basicForm + div {
    margin-top: 20px;
}

div.container.admin .basicForm .welcome {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

@media all and (max-width: 600px) {
    .title_welcome {
        font-size: 2.5em;
    }

    .chapters {
        width: 100%;
    }

    .chapterContent {
        width: 95%;
    }

}