body {
    background-color: rgb(70, 70, 80);
    color: white;
}

.card {
    width: 700px;;
}

.title_welcome {
    margin-top: 8%;
    text-align: center;
    font-size: 4em;
    opacity: 0.8;
}

.title_welcome .sub {
    font-size: 0.4em;
    margin-top: 2px;
    opacity: 0.6;
    text-transform: uppercase;
}

.btn_group {
    text-align: center;
    margin: auto;
    margin-top: 13%;
}

.btn_group button{
    text-align: center;
    margin: auto;
    margin-top: 8px;
}

.btn_group span {
    font-size: 22px;
}

.title_left {
    margin-left: 60px;
    margin-top: 40px;
    font-size: 45px;
    text-transform: uppercase;
}

.chapters {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.chapters .chapter {
    margin-top: 20px;
}

.chapter button {
    width: 80px;
}

.chapter .date {
    padding-left: 8px;
    padding-top: 8px;
    opacity: 0.5;
    float: right;
}

.paginations {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

@media all and (max-width: 600px) {
    .title_welcome {
        font-size: 2.5em;
    }

    .chapters {
        width: 100%;
    }
}